
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-noto{
      font-family: "Noto Serif", serif;
}
.font-inter{
  font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.heading{
    font-size: 50px;
    font-weight: 700;
}
.paragrph{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);

}
.section-gap{
    margin-top: 60px;
}
.span-text{
    color: #E95A08;
}
.list-item{
    margin-top: 20px;
}
.flower-container{
    gap: 60px;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    right: -100px;
    top: -90px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));

}
.img-container{
    position: relative;
}
/* deals- heading container  */
.deals-heading{
    flex-direction:column;
    align-items: center;
    gap: 16px;

}
.deals-heading p{
    text-align: center;
}
/* img style  */
.bloom{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/deal-bloom.png");
    background-size: cover;
    
}
.ana{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/deal-ana.png");
    background-size: cover;
    
}
.zabo{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/deal-zabo.png");
    background-size: cover;
    
}
.cards{
    height: 200px;
}

@media screen and (max-width:576px){
    .flower-container{
        flex-direction: column;
        gap: 18px;
    }
    .store{
        width:100%;
    }
    .badge{
        display: none;
    }
    .heading{
        font-size: 24px;
        margin: 0;

    }
    br{
        display: none;
    }
    .paragrph{
        font-size: 14px;
    }
    .list-item{
        margin-top: 16px;
    }
}
