
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-noto{
      font-family: "Noto Serif", serif;
}
.font-inter{
  font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.heading{
    font-size: 50px;
    font-weight: 700;
}
.paragrph{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);

}
.section-gap{
    margin-top: 60px;
}
.span-text{
    color: #E95A08;
}
.list-item{
    margin-top: 20px;
}
.flower-container{
    gap: 60px;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    right: -100px;
    top: -90px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));

}
.img-container{
    position: relative;
}
/* deals- heading container  */
.deals-heading{
    flex-direction:column;
    align-items: center;
    gap: 16px;

}
.deals-heading p{
    text-align: center;
}
/* card section  */
.card-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2,1fr);
    gap: 28px;
    margin-top: 120px;


}
.card{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
    color: white;
    border-radius: 15px;
}
/* img style  */
.bloom{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/deal-bloom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-image: center;
}
.ana{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/deal-ana.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-image: center;
    
}
.zabo{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/deal-zabo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-image: center;
    height: 100%;
    grid-column:2/3;
    grid-row: 1/3;
    
}
.
.card span{
    text-decoration: underline;
}
.card h2{


}

/* newsletter-section */
.newsletter-section{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./assets/news-letter-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 23px;
}
.newsletter-section h2{
    color: white;
}
.submission-box{
    display: flex;
    /* width: 70%; */
    width:70%; 
    margin: 0 auto;
}
.submission-box input[type="email"] ::placeholder{
    font-size: 16px;
     color: rgba(0, 0, 0, 0.5);


}


.submission-box button{
    background-color:#E95A08 ;
    padding: 20px 50px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border:none;
}
.submission-box input[type="email"] {
    /* height: 50px;
    width: 645px; */
    width: 100%;
    padding: 8px 20px;
    outline: none;
}


@media screen and (max-width:576px){
    .flower-container{
        flex-direction: column;
        gap: 18px;
    }
    .store{
        width:100%;
    }
    .badge{
        display: none;
    }
    .heading{
        font-size: 24px;
        margin: 0;

    }
    br{
        display: none;
    }
    .paragrph{
        font-size: 14px;
    }
    .list-item{
        margin-top: 16px;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        margin-top:46px;
    }
    .card{
        height: 206px;
    }
        .zabo{
            grid-column: auto;
            grid-row: auto;
        }
        .submission-box button{
            padding: 8px 20px;
        }
        .newsletter-section h2{
            font-size: 20px;
        }
    }

